# ==============================
# Dependencies
# ==============================

**/node_modules/
**/.pnp
**/.pnp.*
**/.yarn/*

# ==============================
# Environment variables
# ==============================

**/.env
**/.env.*
!**/.env.example

# ==============================
# Next.js & Build outputs
# ==============================

**/.next/
**/out/
**/build/
**/dist/

# ==============================
# Testing & Coverage
# ==============================

**/coverage/

# ==============================
# Debug logs
# ==============================

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==============================
# Operating System & IDE
# ==============================

**/.DS_Store
**/Thumbs.db
**/.vscode/
**/.idea/

# ==============================
# Miscellaneous & Security
# ==============================

**/*.pem
**/*.tsbuildinfo
**/.vercel/